<header>
  <h1>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </h1>
  <nav>
    <ul>
      {#- TODO: Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="{% if entry.url == page.url %} active{% endif %}">
          {# TODO: look into adding a title or alt text? A11y for links, what do I need? #}
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</header>